/* Container */



/* Card */
.card {
    border-radius: 8px;
    box-shadow: 0 0.5rem 1rem 0 rgba(44, 51, 73, .1);
    padding: 1rem;
    margin-bottom: 1rem;
}

/* CardTitle */
.card-title {
    text-align: center;
    color: #6c757d;
}

/* Button */
.button {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.button-copy {
    position: 'absolute';
    top: '0';
    right: '0';
    margin: '1em';
    border: 'none';
    background-color: '#f0f0f0';
    color: '#555';
    padding: '0.5em 1em';
    font-size: '1rem';
    font-weight: 'bold'
}

/* Paragraph */
.paragraph {
    margin-top: 1rem;
}

/* h3 */
.h3 {
    margin-top: 1rem;
}

.code-section {
    position: relative;
}

.container-color {
    background-image: linear-gradient(to right, #0F0F11, #0F0F11 80%);
    color: white;
}
.container-padding-fix{
    padding: 6rem 0;
}

.game-title {
  font-size: 3rem; /* Makes the title larger */
  text-align: center; /* Centers the title */
  margin: 20px 0; /* Adds vertical spacing */
  line-height: 1.2; /* Adjusts spacing between lines, if needed */
  transform: translateY(-50px); /* Moves the title up slightly */
  font-family: 'Eudoxus Sans', sans-serif; /* Use your desired font */
}

.desc-title {
  font-size: 2rem; /* Makes the title larger */
  text-align: center; /* Centers the title */
  margin: 20px 0; /* Adds vertical spacing */
  line-height: 1.2; /* Adjusts spacing between lines, if needed */
  transform: translateY(-10px); /* Moves the title up slightly */
  font-family: 'Eudoxus Sans', sans-serif; /* Use your desired font */
}


.title-color{
    color:#3B82F6
}
.header-title-color{
    color: linear-gradient(to right, #0F0F11, #0F0F11 80%);
}
.Instance-color{
    color:#ffffff
}

.big-font {
    font-size: 19px !important;
}

.align-center {
    display: flex;
    align-items: center;
    height: 100%;
}

.card-fixed {
    height: 170px; /* or whatever shorter height you desire */
    overflow-y: auto;
  }

  .game-container{
    min-height: 200vh; /* This line ensures the container will always be at least as tall as the viewport. */
  }

.header-component{
    padding-bottom: 33rem !important;

}
@media screen and (max-width: 992px) {
  .header-component{
    padding-bottom: 15rem !important;
top:-800;
}
}
@media screen and (max-width: 768px) {
  .header-component{
    padding-bottom: 7rem !important;

}}
@media screen and (max-width: 576px) {
  .header-component{
    padding-bottom: 10rem !important;

}
}

.index-title{
    color: #a3a4af;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 5em; /* Size on large screens */
    position: relative; 
    text-align: center;
    top:40px;
}

/* When the screen size is 992px or smaller */
@media screen and (max-width: 992px) {
    .index-title {
      font-size: 5em; /* slightly smaller font size */
      padding-top:-6100px;
    }
}
  
/* When the screen size is 768px or smaller */
@media screen and (max-width: 768px) {
    .index-title {
      font-size: 4em; /* even smaller font size for tablets */

    }
}
  
/* When the screen size is 576px or smaller */
@media screen and (max-width: 576px) {
    .index-title {
      font-size: 3em; /* smallest font size for mobile phones */

    }
    
}
.page-title {
    color: #ffffff;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 7em; /* Size on large screens */
    position: relative; 
    top:140px; /* Adjust this value */
}
  
/* When the screen size is 992px or smaller */
@media screen and (max-width: 992px) {
    .page-title {
      font-size: 6em; /* slightly smaller font size */
      position: relative; 
      top:120px; /* Adjust this value */
    }
}
  
/* When the screen size is 768px or smaller */
@media screen and (max-width: 768px) {
    .page-title {
      font-size: 5em; /* even smaller font size for tablets */
      top: 20px; 
      position: relative; 
      top:120px; /* Adjust this value */
    }
}
  
/* When the screen size is 576px or smaller */
@media screen and (max-width: 576px) {
    .page-title {
      font-size: 4em; /* smallest font size for mobile phones */
      position: relative; 
      top:120px; /* Adjust this value */
    }
    
}

  /* When the screen size is 992px or smaller */
  @media screen and (max-width: 992px) {
    .header-background {
      background-size: auto 100%; /* Adjust the size of the background image */
      background-position: top center; /* Adjust the position of the background image */
    }
  }
  
  /* When the screen size is 768px or smaller */
  @media screen and (max-width: 768px) {
    .header-background {
      background-size: auto 100%; /* Adjust the size of the background image */
      background-position: top center; /* Adjust the position of the background image */
      top:20px; /* Adjust this value */

    }
  }
  
  /* When the screen size is 576px or smaller */
  @media screen and (max-width: 576px) {
    .header-background {
      background-size: auto 50%; /* Adjust the size of the background image */
      background-position: top center; /* Adjust the position of the background image */
      position: relative; 
      top:70px; /* Adjust this value */
      
    }
  }
  .type-animation-container {
    font-size: 23px;
    position: relative;
    top: 120px;
  }

    /* When the screen size is 768px or smaller */
    @media screen and (max-width: 768px) {
        .type-animation-container {
            font-size: 20px;
            position: relative;
            top: 120px;
        }
      }
      
      /* When the screen size is 576px or smaller */
      @media screen and (max-width: 576px) {
        .type-animation-container {
            font-size: 16px;
            top: 100px;
            position: relative;

        }
      }
      @media screen and (max-width: 992px) {
        .animation-media {
height: 70px;

        }
      }
      @media screen and (max-width: 768px) {
        .animation-media {
height: 70px;

        }
      }
      @media screen and (max-width: 576px) {
        .animation-media {
height: 40px;

        }
      }
      .certificate-img {
        width: 100% !important;
        height: 600px !important;
        object-fit: cover;
    }
    @media (max-width: 768px) {
      .achievement-title {
        font-size: 14px;
      }
    
      .achievement-icon {
        font-size: 10px;
      }
    }

    .button-custom {
      width: 100%;
      max-width: 300px;
      border: 7px solid #000000; /* New border property */
      border-radius: 8px;
      box-shadow: 0 7px 17px rgba(255, 255, 255, 0.2);
      overflow: hidden;
      margin-bottom: 20px;
      background-color: rgb(0, 0, 0);
      transition: box-shadow 0.3s ease;
    }
    
    .button-custom:hover {
      box-shadow: 0 0 330px #31EA8A;  /* Larger, more noticeable shadow */
    }